@mixin animation($value) {
	-moz-animation: #{$value};
	-ms-animation: #{$value};
	-o-animation: #{$value};
	-webkit-animation: #{$value};
	animation: #{$value};
}

@mixin keyframes($name) {
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@-webkit-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin transition($value) {
	-moz-transition: #{$value};
	-ms-transition: #{$value};
	-o-transition: #{$value};
	-webkit-transition: #{$value};
	transition: #{$value};
}
