$resetBase_baseBackground: #fff !default;
$resetBase_baseColor: #000 !default;
$resetBase_baseFontFamily: sans-serif !default;


// -- reset --
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,abbr,body,button,fieldset,form,h1,h2,h3,h4,h5,h6,img,label,legend,li,ol,p,td,th,ul {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

a,abbr {
	font-weight: inherit;
}

input,select,textarea {
	font-size: 100%;
	margin: 0;
}

// -- base --
body,button,input,select,td,th,textarea {
	color: $resetBase_baseColor;
	font-family: $resetBase_baseFontFamily;
}

body {
	background: $resetBase_baseBackground;
	font-size: 62.5%;
	line-height: 1;
}

// -- base - clearfix --
%clearfix:before,
%clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden;
}

%clearfix:after {
	clear: both;
}

%clearfix {
	zoom: 1; // for IE7 and below
}
