$resetBase_baseBackground: #fff !default;
$resetBase_baseColor: #000 !default;
$resetBase_baseFontFamily: sans-serif !default;


// -- reset --
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,abbr,body,button,fieldset,form,h1,h2,h3,h4,h5,h6,iframe,img,label,legend,li,ol,p,td,th,ul {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

a,abbr {
	font-weight: inherit;
}

input,select,textarea {
	font-size: 100%;
	margin: 0;
}

// -- base --
body,button,input,select,td,textarea,th {
	color: $resetBase_baseColor;
	font-family: $resetBase_baseFontFamily;
}

body {
	background: $resetBase_baseBackground;
	font-size: 62.5%;
	line-height: 1;
}

// -- base - clear fix --
%clearFix:before,
%clearFix:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden;
}

%clearFix:after {
	clear: both;
}

%clearFix {
	zoom: 1; // for IE7 and below
}

// -- base - hide --
%hide {
	left: -999em;
	overflow: hidden;
	position: absolute;
	top: -999em;
	width: 1em;
}

// -- base - text overflow ellipsis --
%textOverflowEllipsis {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// -- base - responsive image --
%responsiveImage {
	display: block;
	height: auto;
	max-width: 100%;
}

// -- base - touch device tap highlight remove --
%tapHighlightRemove {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
